/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 oct. 2020, 9:25:23
    Author     : nestor
*/


.row::after{
    content: "";
    clear: both;
    display: block;
}

.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.col-10 {width: 100%;}

[class*="col-"] {
    float: left;
    box-sizing: border-box;
} 
html{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e5e5e5;
}

header div.col-9{
    background: blue;
    height: 100%;
}
img{
    width: 100%;

}

header h1{
    text-align: center;

}

section{
    position: relative;
    height: 50vh;
}

article{
    margin-top: 5%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}



footer{
    margin-top: 12%;
    color:rgba(54, 166, 214, 1);
}
h3{
    color:red;
}